<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>

<p>
  <img width="100px" src="<%= @comment.avatar%>"> </img>
</p>

<p>
  <b>Title:</b>
  <%=h @comment.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>



<%= link_to 'Edit', edit_site_comment_path(@site,@comment) %> |
<%= link_to 'Back', site_comments_path(@site) %>