<table>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%=h proposal.title %></td>
    <td><%= link_to 'Show', site_proposal_path(proposal.site,proposal) %></td>
    <td><%= link_to 'Edit', edit_site_proposal_path(proposal.site,proposal) %></td>
    <td><%= link_to 'Destroy', site_proposal_path(proposal.site,proposal), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New proposal', new_site_proposal_path(@site) %>
